

.task {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height:fit-content;
    padding: 1rem;
    border-radius: 0.1rem;
    border-bottom: solid grey 0.1rem;
    border-color: grey;
}



.top {
    display: flex;
    flex-direction: column;
    
}

.name {
    font-weight: bold;
   
}

.description {
   

}